html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  margin-top:2rem;
  grid-area: header;

}

h3 {
  margin: 0 0 1.5rem;
  font-size: 1;
  padding: inherit;}

body {
  margin: 0;
}

section {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  display: grid;
  background-color:#ff9500 ;
  grid-template-areas: "intro" "column1" "column2" "column3";
  gap: 6vimn;
  padding: 6vimn;
  color: #fff;
}

div {
  justify-items: center;
  margin: 0;
  padding: 0;
  flex-flow: wrap;
}

a {
  display: flex;
  align-items: center;
  border: .2rem solid #fff;
 padding: 20px 30px;
  color: #fff;
  display: flex;
}

.icon {
  position: relative;
  width: 8em;
  height: 8em;
  margin: 0;
  width: 100%;
  fill: currentColor;
}
.icon svg {
  color: #fff;
}

a:hover,
a:focus {
  color: #ff9500 ;

}

span {
  align-items: center;
}
@media only screen and (max-width: 38em) {

section {
  grid-template-areas:
  "intro intro intro"
  "column1" "column2" "column3";
}

}
